* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #fff;
    color: #000;
    /* Line height for Chrome and Safari is 1.0. This code is made for future compatibility with other browsers. */
    line-height: 1.0;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    padding: 16px;
    text-align: center;
  }

  /* Sanquin Logo at home page */
  header .logo {
    width: 120px;
    margin: 20px 0;
  }
